<footer>
    <div class="fila-1 contenedor">
        <div class="logo">
            <img src="../../assets/img/logoalianza.png" alt="">
        </div>
        <div class="contacto">
            <p class="margen-derecha">
                <i class="fa-solid fa-phone"></i> <span>{{telefono}}</span>
            </p>
            <p class="margen-izquierda">
                <i class="fa-regular fa-envelope"></i> <span>{{correo}}</span>
            </p>
        </div>
        <div class="redes-sociales">
            <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="linkedn"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#" class="youtube"><i class="fa-brands fa-youtube"></i></a>
            <a href="#" class="cuenta"><i class="fa-solid fa-user"></i></a>
        </div>
    </div>
    <div class="fila-2">
        <p>Alianza Seguros {{year}} - Desarrollado por <a href="kreativabo.com" target="_blank">Kreativa</a></p>
    </div>
</footer>
