<div class="contenedor">
  <form (ngSubmit)="filtrarProductos()">
    <div class="form-row">
      <div class="dropdown">
        <label for="categoriaDropdown">CATEGORÍAS:</label>
        <select
          class="select"
          id="categoriaDropdown"
          [(ngModel)]="filtros.categoria"
          name="categoria"
        >
          <option value="todos" selected>Seleccione una categoría</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.name">
            {{ categoria.name }}
          </option>
        </select>
      </div>

      <div class="dropdown">
        <label for="marcaDropdown">MARCAS:</label>
        <select id="marcaDropdown" [(ngModel)]="filtros.marca" name="marca">
          <option value="">Seleccione una marca</option>
          <!-- Opciones para marcas -->
        </select>
      </div>

      <div class="dropdown">
        <label for="anioDropdown">AÑOS:</label>
        <select id="anioDropdown" [(ngModel)]="filtros.anio" name="anio">
          <option value="0">Seleccione un año</option>
          <option *ngFor="let anio of anios" [value]="anio.anio">
            {{ anio.anio }}
          </option>
        </select>
      </div>

      <div class="dropdown">
        <label for="MesDropdown">MESES:</label>
        <select id="mesDropdown" [(ngModel)]="filtros.mes" name="mes">
          <option value="0">Seleccione un año</option>
          <option *ngFor="let mes of meses" [value]="mes.id">
            {{ mes.name }}
          </option>
        </select>
      </div>
    </div>

    <!-- Agrega más dropdowns para otros criterios de filtrado -->
    <button type="submit">Filtrar</button>
  </form>
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <h2
          class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl uppercase"
        >
          CATEGORÍA ACTUAL: {{ categoria }}
        </h2>
      </div>
      <!-- text - end -->
  
      <div
        class="grid gap-x-4 gap-y-8 sm:grid-cols-2 md:gap-x-6 lg:grid-cols-3 xl:grid-cols-3"
      >
        @for(producto of productos; track producto.titulo){
        <!-- product - start -->
        <div>
          <a
            [routerLink]="'/productos/' + producto.id"
            class="group relative mb-2 block h-96 overflow-hidden rounded-lg bg-gray-100 shadow-lg lg:mb-3"
          >
            <img
              src="{{ producto.imagenes[0] }}"
              loading="lazy"
              alt="Photo by Austin Wade"
              class="h-full w-full object-cover object-center transition duration-500 group-hover:scale-150"
            />
  
            <div class="absolute left-0 bottom-2 flex gap-2">
              <span
                class="rounded-r-lg bg-red-500 px-3 py-1.5 text-sm font-semibold uppercase tracking-wider text-white"
                >{{ producto.categoria }}</span
              >
              <span
                class="rounded-lg bg-white px-3 py-1.5 text-sm font-bold uppercase tracking-wider text-gray-800"
                >{{ producto.modelo }}</span
              >
            </div>
          </a>
  
          <div class="flex items-start justify-between gap-2 px-2">
            <div class="flex flex-col">
              <a
                [routerLink]="'/productos/' + producto.id"
                class="text-lg font-bold text-gray-800 transition duration-100 hover:text-gray-500 lg:text-xl"
                >{{ producto.titulo }}</a
              >
              <span class="text-gray-500">Fecha: {{ producto.fecha_fin }}</span>
            </div>
  
            <div class="flex flex-col items-end">
              <span class="font-bold text-gray-600 lg:text-lg"
                >{{ producto.puja_actual }} Bs.</span
              >
              <span class="text-sm text-red-500 line-through"></span>
            </div>
  
            <button
              [routerLink]="'/productos/' + producto.id"
              class="block rounded-lg bg-blue-800 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-blue-300 transition duration-100 hover:bg-blue-700 focus-visible:ring active:bg-blue-600 md:text-base"
            >
              Pujar
            </button>
          </div>
        </div>
        <!-- product - end -->
        } 
      </div>
      @if(productos.length==0){
        <div class="bg-white pb-6 sm:pb-8 lg:pb-12">
          <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
            <section class="flex flex-col items-center">
              <div
                class="flex max-w-xl flex-col items-center pb-0 pt-8 text-center sm:pb-16 lg:pb-32 lg:pt-32"
              >
                <h5
                  class="mb-4 text-center text-2xl font-bold text-gray-700 md:mb-6 lg:text-3xl uppercase"
                >
                  Sin Productos...
                </h5>
  
                <p class="mb-8 leading-relaxed text-gray-500 md:mb-12 xl:text-lg">
                  Vuelve a elegir nuevamente los filtros para para obtener otros
                  resultados.
                </p>
              </div>
            </section>
          </div>
        </div>
        }
    </div>
  </div>
</div>
