<header>
    <div class="fila-1 contenedor">
        <div class="logo">
            <img src="../../assets/img/logoalianza.png" alt="">
        </div>
        <div class="redes-sociales">
            <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="linkedn"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#" class="youtube"><i class="fa-brands fa-youtube"></i></a>
            <a routerLink="/acceso" class="cuenta"><i class="fa-solid fa-user"></i></a>
        </div>
    </div>
    <div class="fila-2">
       <ul>
            <li>
                <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">INICIO</a>
            </li>
            <li>
                <a routerLink="/productos" routerLinkActive="active">SUBASTAS</a>
            </li>
            <li>
                <a routerLink="/nosotros" routerLinkActive="active">QUIENES SOMOS</a>
            </li>
            <li>
                <a routerLink="/contacto" routerLinkActive="active">CONTACTO</a>
            </li>
       </ul> 
    </div>
</header>



