<div>
    <div class="error">{{loginError}}</div>
    <form [formGroup]="loginForm" (ngSubmit)="enviarlogin()">
        <div>
            <label for="correo">Correo electrónico:</label><br>
            <input type="text" id="correo" formControlName="correo">
            @if(usuarioinvalido&& arrayerrores['correovacio']){
                <div class="error">{{arrayerrores['correovacio']}}</div>
            }@if(usuarioinvalido&& arrayerrores['correoinvalido']){
                <div class="error">{{arrayerrores['correoinvalido']}}</div>
            }
        </div>
        <div>
            <label for="password">Contraseña:</label><br>
            <input type="password" formControlName="password" id="password">
            @if(usuarioinvalido&& arrayerrores['password']){
                <div class="error">{{arrayerrores['password']}}</div>
            }
        </div>
        <button type="submit" class="boton">Iniciar Sesión</button>
    </form>
</div>
