<div class="bg-white pb-6 sm:pb-8 lg:pb-12 mt-5">
  <section class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-8 flex flex-wrap justify-between md:mb-16">
      <div
        class="mb-6 flex w-full flex-col justify-center sm:mb-12 lg:mb-0 lg:w-1/3 lg:pb-24 lg:pt-48"
      >
        <h1
          class="mb-4 text-4xl font-bold text-black sm:text-5xl md:mb-8 md:text-6xl"
        >
          QUIENES SOMOS
        </h1>

        <p class="max-w-md leading-relaxed text-gray-500 xl:text-lg">
          Somos actualmente un grupo asegurador sólido y consolidado, en
          constante desarollo e innovación y la mejor opción para satisfacer las
          necesidades de protección de nuestros clientes.
        </p>
      </div>

      <div class="mb-12 flex w-full md:mb-16 lg:w-2/3">
        <div
          class="relative left-12 top-12 z-10 -ml-12 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:left-16 md:top-16 lg:ml-0"
        >
          <img
            src="https://www1.alianza.com.bo/Content/img/whoweare/whoweare1.jpg"
            loading="lazy"
            alt="Photo by Kaung Htet"
            class="h-full w-full object-cover object-center"
          />
        </div>
        <div class="overflow-hidden rounded-lg bg-gray-100 shadow-lg">
          <img
            src="https://www1.alianza.com.bo/Content/img/whoweare/whoweare.jpg"
            loading="lazy"
            alt="Photo by Manny Moreno"
            class="h-full w-full object-cover object-center"
          />
        </div>
      </div>
    </div>
  
  <div class="bg-white py-6 sm:py-8 lg:py-12">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <h2
          class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"
        >
          NUESTROS VALORES
        </h2>
      </div>
      <!-- text - end -->

      <div class="grid gap-12 sm:grid-cols-2 xl:grid-cols-3 xl:gap-16">
        <!-- feature - start -->
        <div class="flex flex-col items-center">
          <div
            class="mb-2 flex h-12 w-12 items-center justify-center text-indigo-500 sm:mb-4 md:h-14 md:w-14"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-full w-full"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
              />
            </svg>
          </div>

          <h3 class="mb-2 text-center text-lg font-semibold md:text-xl">
            PROFESIONALISMO
          </h3>
          <p class="mb-2 text-center text-gray-500">
            Promovemos la superación profesional de nuestros funcionarios,
            valorando el trabajo en equipo, para su desarrollo.
          </p>
        </div>
        <!-- feature - end -->

        <!-- feature - start -->
        <div class="flex flex-col items-center">
          <div
            class="mb-2 flex h-12 w-12 items-center justify-center text-indigo-500 sm:mb-4 md:h-14 md:w-14"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-full w-full"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
              />
            </svg>
          </div>

          <h3 class="mb-2 text-center text-lg font-semibold md:text-xl">
            HONRADEZ
          </h3>
          <p class="mb-2 text-center text-gray-500">
            Nos esforzamos en cumplir con nuestras obligaciones de una manera
            honrada y con integridad.
          </p>
        </div>
        <!-- feature - end -->

        <!-- feature - start -->
        <div class="flex flex-col items-center">
          <div
            class="mb-2 flex h-12 w-12 items-center justify-center text-indigo-500 sm:mb-4 md:h-14 md:w-14"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-full w-full"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
              />
            </svg>
          </div>

          <h3 class="mb-2 text-center text-lg font-semibold md:text-xl">
            ÉTICA
          </h3>
          <p class="mb-2 text-center text-gray-500">
            Mantenemos el respeto en todas nuestras relaciones, guiándonos por
            lo correcto al momento de actuar.
          </p>
        </div>
        <!-- feature - end -->

        <!-- feature - start -->
        <div class="flex flex-col items-center">
          <div
            class="mb-2 flex h-12 w-12 items-center justify-center text-indigo-500 sm:mb-4 md:h-14 md:w-14"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-full w-full"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 10V3L4 14h7v7l9-11h-7z"
              />
            </svg>
          </div>

          <h3 class="mb-2 text-center text-lg font-semibold md:text-xl">
            RESPONSABILIDAD
          </h3>
          <p class="mb-2 text-center text-gray-500">
            Apoyamos la conservación de nuestro medio ambiente, actuando con
            responsabilidad social empresarial.
          </p>
        </div>
        <!-- feature - end -->

        <!-- feature - start -->
        <div class="flex flex-col items-center">
          <div
            class="mb-2 flex h-12 w-12 items-center justify-center text-indigo-500 sm:mb-4 md:h-14 md:w-14"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-full w-full"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M18.364 5.636l-3.536 3.536m0 5.656l3.536 3.536M9.172 9.172L5.636 5.636m3.536 9.192l-3.536 3.536M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-5 0a4 4 0 11-8 0 4 4 0 018 0z"
              />
            </svg>
          </div>

          <h3 class="mb-2 text-center text-lg font-semibold md:text-xl">
            TRANSPARENCIA
          </h3>
          <p class="mb-2 text-center text-gray-500">
            Nuestro enfoque está en llevar a cabo prácticas y métodos a
            disposición pública, sin tener nada que ocultar.
          </p>
        </div>
        <!-- feature - end -->

        <!-- feature - start -->
        <div class="flex flex-col items-center">
          <div
            class="mb-2 flex h-12 w-12 items-center justify-center text-indigo-500 sm:mb-4 md:h-14 md:w-14"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-full w-full"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
              />
            </svg>
          </div>

          <h3 class="mb-2 text-center text-lg font-semibold md:text-xl">
            COMPROMISO
          </h3>
          <p class="mb-2 text-center text-gray-500">
            Estamos comprometidos con nuestros clientes y accionistas en brindar
            todo nuestro esfuerzo para hacer las cosas bien.
          </p>
        </div>
        <!-- feature - end -->
      </div>
    </div>
    <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <div
            class="flex flex-col overflow-hidden rounded-lg bg-gray-900 sm:flex-row md:h-80"
          >
            <!-- content - start -->
            <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-2/5">
              <h2 class="mb-4 text-xl font-bold text-white md:text-2xl lg:text-4xl">
                MISIÓN
              </h2>
      
              <p class="mb-8 max-w-md text-gray-400">
                Brindar el mejor servicio del mercado, otorgando la seguridad y
                confianza que el cliente merece, actuando con sólidos principios
                éticos y generando valor que refleje un sobresaliente desempeño para
                nuestros accionistas.
              </p>
            </div>
            <!-- content - end -->
      
            <!-- image - start -->
            <div
              class="order-first h-48 w-full bg-gray-700 sm:order-none sm:h-auto sm:w-1/2 lg:w-3/5"
            >
              <img
                src="https://www.crecer.cl/wp-content/uploads/2018/01/mision-vision-empresas-importancia.jpg"
                loading="lazy"
                alt="Photo by Dom Hill"
                class="h-full w-full object-cover object-center"
              />
            </div>
            <!-- image - end -->
          </div>
        </div>
      </div>
      <div class="bg-white py-6 sm:py-8 lg:py-12">
        <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
          <div
            class="flex flex-col overflow-hidden rounded-lg bg-gray-900 sm:flex-row md:h-80"
          >
            <!-- image - start -->
            <div
              class="order-first h-48 w-full bg-gray-700 sm:order-none sm:h-auto sm:w-1/2 lg:w-3/5"
            >
              <img
                src="https://adm.com.uy/wp-content/uploads/2019/02/destacada-cc-19-02-08.jpg"
                loading="lazy"
                alt="Photo by Dom Hill"
                class="h-full w-full object-cover object-center"
              />
            </div>
            <!-- image - end -->
            <!-- content - start -->
            <div class="flex w-full flex-col p-4 sm:w-1/2 sm:p-8 lg:w-2/5">
              <h2 class="mb-4 text-xl font-bold text-white md:text-2xl lg:text-4xl">
                VISIÓN
              </h2>
      
              <p class="mb-8 max-w-md text-gray-400">
                Ser la aseguradora líder y de mayor rentabilidad técnica y financiera,
                reconocida por su innovación, profesionalismo, calidad y
                responsabilidad social, apoyada en un equipo humano altamente
                competente y especializado, representando el modelo a seguir al
                entregar las mejores soluciones a nuestros clientes.
              </p>
            </div>
            <!-- content - end -->
          </div>
        </div>
      </div>
  </div>
</section>
</div>

