@if(conectado){
<div class="flex m-5 mx-5 overflow-y-auto items-start">
  <div
    class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0"
  >
    <div class="rounded-t bg-white mb-0 px-6 py-6">
      <div class="text-center flex justify-between">
        <h6 class="text-blueGray-700 text-xl font-bold uppercase">Mi Cuenta</h6>
        <button
          (click)="logout()"
          class="bg-red-600 text-white active:bg-red-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
          type="button"
        >
          Cerrar Sesion
        </button>
      </div>
    </div>
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
      <form [formGroup]="edicionForm" (ngSubmit)="actualizarUsuario()">
        <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
          Información del Usuario
        </h6>
        <div class="error">{{ updateError }}</div>
        <div class="flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
              <label
                for="nombre"
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Nombre
              </label>
              <input
                id="nombre"
                formControlName="nombre"
                type="text"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                value="{{ userData.nombre }}"
              />
              @if(usuarioinvalido&& arrayerrores['nombre']){
              <div class="error">{{ arrayerrores["nombre"] }}</div>
              }
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
              <label
                for="apellido"
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Apellido
              </label>
              <input
                id="apellido"
                formControlName="apellido"
                type="text"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                value="{{ userData.apellido }}"
              />
              @if(usuarioinvalido&& arrayerrores['apellido']){
              <div class="error">{{ arrayerrores["apellido"] }}</div>
              }
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
              <label
                for="correo"
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Email
              </label>
              <input
                id="correo"
                formControlName="correo"
                type="email"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                value="{{ userData.correo }}"
              />
              @if(usuarioinvalido&& arrayerrores['correovacio']){
              <div class="error">{{ arrayerrores["correovacio"] }}</div>
              }@if(usuarioinvalido&& arrayerrores['correoinvalido']){
              <div class="error">{{ arrayerrores["correoinvalido"] }}</div>
              }
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
              <label
                for="ci"
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                CI
              </label>
              <input
                id="ci"
                formControlName="ci"
                type="number"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                value="{{ userData.ci }}"
              />
              @if(usuarioinvalido&& arrayerrores['ci']){
              <div class="error">{{ arrayerrores["ci"] }}</div>
              }
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
            <div class="relative w-full mb-3">
              <label
                for="telefono"
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Teléfono
              </label>
              <input
                id="telefono"
                formControlName="telefono"
                type="number"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                value="{{ userData.telefono }}"
              />
              @if(usuarioinvalido&& arrayerrores['telefono']){
              <div class="error">{{ arrayerrores["telefono"] }}</div>
              }
            </div>
          </div>
        </div>

        <hr class="mt-6 border-b-1 border-blueGray-300" />

        <button
          type="submit"
          class="bg-blue-600 text-white active:bg-blue-700 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
        >
          Editar Datos
        </button>
      </form>
    </div>
  </div>
</div>
<div class="flex m-5 mx-5 overflow-y-auto items-start">
  <div
    class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0"
  >
    <div class="rounded-t bg-white mb-0 px-6 py-6">
      <div class="flex flex-wrap items-center">
        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
          <h3 class="text-blueGray-700 text-xl font-bold uppercase">
            Subastas Realizadas
          </h3>
        </div>
        <div
          class="relative w-full px-4 max-w-full flex-grow flex-1 text-right"
        >
          <button
            class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
            type="button"
          >
            Ver más ...
          </button>
        </div>
      </div>
    </div>
    <div class="block w-full overflow-x-auto">
      <!-- Projects table -->
      <table class="items-center w-full bg-transparent border-collapse">
        <thead>
          <tr>
            <th
              class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            >
              Producto
            </th>
            <th
              class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            >
              Categoría
            </th>
            <th
              class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            >
              Modelo
            </th>
            <th
              class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            >
              Puja Realizada
            </th>
            <th
              class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
            >
              Ver
            </th>
          </tr>
        </thead>
        <tbody>
          @for(producto of productosSubastas; track producto){
          <tr>
            <th
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left"
            >
              {{ producto.titulo }}
            </th>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ producto.categoria }}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ producto.modelo }}
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              {{ producto.puja_actual }} Bs.
            </td>
            <td
              class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
            >
              <a [routerLink]="'/productos/' + producto.id">
                <i class="fas fa-eye text-emerald-500 mr-4"></i>
              </a>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
}@else{
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-lg px-4 md:px-8">
    <div class="grid gap-8 sm:grid-cols-2">
      <!-- image - start -->
      <div
        class="h-80 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto"
      >
        <img
          src="../../assets/img/anonimo.png"
          loading="lazy"
          alt="Photo by Theo Crazzolara"
          class="h-full w-full object-cover object-center"
        />
      </div>
      <!-- image - end -->
      <!-- content - start -->
      <div
        class="flex flex-col items-center justify-center sm:items-start md:py-24 lg:py-32"
      >
        <p
          class="mb-4 text-sm font-semibold uppercase text-indigo-500 md:text-base"
        >
          Error
        </p>
        <h1
          class="mb-2 text-center text-2xl font-bold text-gray-800 sm:text-left md:text-3xl"
        >
          !No Conectado¡
        </h1>
        <p
          class="mb-4 text-center text-gray-500 sm:text-left md:mb-8 md:text-lg"
        >
          No está conectado, vaya a Iniciar Sesión:
        </p>

        <nav class="flex gap-4 sm:block sm:space-y-1 md:space-y-2">
          <a
            routerLink="/acceso"
            class="inline-block rounded-lg bg-blue-200 px-8 py-3 text-center text-sm font-semibold text-black-500 outline-none ring-blue-300 transition duration-100 hover:bg-blue-300 focus-visible:ring active:text-blue-700 md:text-base uppercase"
            >Login</a
          >
        </nav>
      </div>
      <!-- content - end -->
    </div>
  </div>
</div>
}
