.centrar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.columnas{
    display: flex;
}
.columnas .columna{
    width: 50%;
    border: 1px solid var(--negro);
    padding: 10px;
}
.subrayado{
    text-decoration: underline;
    margin-bottom: 10px;
}
.columna-1{
    margin-right: 5px;
}
.columna-2{
    margin-left: 5px;
}
.margen-arriba{
    margin-top: 20px;
}
.botones{
    display: flex;
}
.botones button:nth-child(2){
    margin-left: 20px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
form input{
    width: 100%;
}
.error{
    color: var(--rojo);
}
@media screen and (max-width: 767px) {
    .columnas{
        flex-direction: column;
    }
    .columnas .columna{
        width: 100%;
    }
    .columna-1, .columna-2{
        margin-right: 0;
        margin-left: 0;
    }
    .columna-1{
        margin-bottom: 10px;
    }
}